<!DOCTYPE html>
<html lang="en">

<head>
    <title>whats up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
         $(function() {
            $( "#date" ).datepicker();
            $( "#date" ).datepicker("show");
         });
      </script>
</head>

<body>



    <div class='col-md-10 col-sm-offset-1'>
        <h2>Welcome to DojoPokes</h2>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4>{{message}}</h4>
                {% endfor %}
            {% endif %}
         {% endwith %}
    </div>

    <div class='container col-md-4 col-sm-offset-1'>
        <h2>Registration Form</h2>
        <form action="/register" method="POST">
            <form role="form">
                <div class="form-group">
                    <label for="first">Name:</label>
                    <input type="text" class="form-control" name="name" id="first" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="last">Alias:</label>
                    <input type="text" class="form-control" name="alias" id="last" placeholder="Alias">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Emaiil">
                </div>
                <div class="form-group">
                    <label for="pw">Password:</label>
                    <input type="password" class="form-control" name="pw" id="pw" placeholder="Enter password"><br>
                    *Password should be at least 8 characters
                </div>
                <div class="form-group">
                    <label for="cpw">Confirm Password:</label>
                    <input type="password" class="form-control" name="cpw" id="cpw" placeholder="Confirm password">
                </div>

                <div class='form-group'>
                  <label for='date'>Date of Birth: </label>
                  <input class='form-control' type='text' id='date' name='birth' />
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
    </div>


    <div class='col-md-4'>
        <h2>LOGIN</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Emaiil">
            </div>
            <div class="form-group">
                <label for="pw">Password:</label>
                <input type="password" class="form-control" name="pw" id="pw" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

</body>

</html>
